In [40]:
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
data = pd.read_csv('D:\Study\DSEB 63 - NEU\Year 3\Sem 2\Thesis\Reviews.csv')
data.head(2)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...

In [61]:
data.drop_duplicates(subset= 'Text', inplace=True)

In [63]:
print('------------Data Summary-------------')
print(f'Number of Reviews: {len(data)}')
count_product = len(data['ProductId'].value_counts())
print(f'Number of Products: {count_product}')
count_user = len(data['UserId'].value_counts())
print(f'Number of Users: {count_user}')
print('\n')
print('----------Data Balancing-------------')
print(data['Score'].value_counts())

------------Data Summary-------------
Number of Reviews: 393579
Number of Products: 67554
Number of Users: 256044


----------Data Balancing-------------
Score
5    250716
4     56042
1     36275
3     29754
2     20792
Name: count, dtype: int64

In [65]:
data['Num_words_text'] = data['Text'].apply(lambda x:len(str(x).split()))
df_filtered_reviews = data[(data['Num_words_text'] >=20)]

In [44]:
data1 = pd.read_csv('Processed_data\data_2.csv')