In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import string
from nltk.corpus import stopwords
from Method import *

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
data = pd.read_csv("D:\DSEB 63 - NEU\\3rd Year\\Semester II\\Thesis\Dataset\\Reviews.csv")

In [11]:
df = data[['Text']]
df['Text'] = df['Text'].apply(preprocess_text)

       token
0        nan
1        nan
2        nan
3        nan
4        nan
...      ...
568449   nan
568450   nan
568451   nan
568452   nan
568453   nan

[568454 rows x 1 columns]